@charset "UTF-8";
/* comentario en sass y css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #103f79; }

header {
  background-color: #f3b229;
  color: #103f79;
  display: flex;
  justify-content: space-between;
  align-items: center; }

footer {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center; }

table {
  color: #f3b229;
  margin: auto;
  margin-top: 10px;
  text-align: center; }

h1 {
  color: #103f79; }

h2 {
  color: #f3b229;
  font-size: small; }

h3 {
  font-size: 12px; }

/* estilos textos*/
.contenedor {
  margin: 10px;
  height: auto;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
  grid-template-areas: "header header" "nota 1 nota2";
  gap: 10px;
  text-align: center; }

.nota1 {
  background-color: whitesmoke;
  grid-area: nota1; }

.nota2 {
  background-color: whitesmoke;
  grid-area: nota2; }

.contenedortexto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 10px; }

.mediana {
  color: #103f79;
  flex-basis: 100%;
  max-width: 80vh; }

.texto {
  color: #103f79;
  flex-basis: 100%;
  text-align: center; }

.formulario {
  padding: 10px;
  color: #f3b229;
  width: 350px;
  align-content: end; }

.form-box {
  border: 2px solid #f3b229;
  text-align: center;
  padding: 10px; }

title {
  text-align: left; }

.campos {
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 300px;
  text-align: center; }

.redes {
  width: 25px;
  height: 25px; }

.pequeña {
  width: 100px;
  height: 100px; }

.mediana {
  width: 650px;
  height: 366px; }

.mediana-hin {
  width: 650px;
  height: 366px;
  margin: 10px;
  padding-right: 10px; }

.tabla {
  border-style: none;
  margin: 25px auto;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 500px; }

.tabla thead tr {
  background-color: #103f79;
  color: #f3b229;
  text-align: center; }

.tabla td {
  background-color: whitesmoke;
  color: #103f79; }

.tabla tbody tr {
  border-bottom: 1px solid #d6d4d4; }

@media (max-width: 500px) {
  /* Estilos para celular */
  .tabla {
    min-width: unset;
    width: 100%;
    margin: 25px 0; } }

.contacto-gral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.mediana-hin {
  flex: 1;
  margin-right: 20px; }

.formulario {
  flex: 1;
  margin-bottom: 20px; }

.mapa {
  width: 100%;
  margin-left: 25%; }

@media (max-width: 768px) {
  /* Estilos para tablet y celular */
  .contacto-gral {
    flex-direction: column;
    align-items: center; }
  .mediana-hin,
  .formulario {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; }
  .mapa {
    margin-top: 0;
    text-align: center; } }
